.info h1 {
    color: var(--dark-slate-grey);
    font-size: 2.5rem;

}
.info ul {
    padding: 0;
}
.info li {
    list-style: none;
    display: flex;
    gap: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 30px;
}
.info p,
.info li {
    color: var(--charcoal-grey);
    font-weight: 400;
}

@media (min-width: 768px) {
    .info h1 {
        font-size: 3rem;
    }
}
