.img-container img {
    width: 100vw;
}
.img-desktop {
    display: none;
}
@media (min-width: 768px) {
    .img-mobile {
        display: none;
    }
    .img-container {
        max-width: 100%;
    }
    .img-container img.img-desktop {
        display: block;
        width: auto;
        height: 90%;

    }
}
