.img-container img {
    width: 100vw;
}
.img-desktop {
    display: none;
}
@media (min-width: 768px) {
    .img-mobile {
        display: none;
    }
    .img-container {
        max-width: 100%;
        max-height: inherit;
    }
    .img-container img.img-desktop {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: right;
    }
}
